<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define UpgradeCode="f7f17de8-f082-4cf9-b7ab-7028992450bb"?>

    <Package Name="$(var.ProductName)"
             Language="1033"
             Manufacturer="$(var.Company)"
             Version="$(var.ProductVersion)"
             Scope="perMachine"
             Compressed="yes"
             UpgradeCode="$(var.UpgradeCode)">

        <SummaryInformation Keywords="Network, Ping, Discovery, LAN" Manufacturer="$(var.Company)" Description="$(var.ProductDescription)" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

        <MajorUpgrade AllowDowngrades="yes"
                      IgnoreRemoveFailure="no"
                      Schedule="afterInstallInitialize"/>

        <!-- Include User Interface Experience -->
        <Icon Id="Icon" SourceFile="..\..\media\NetSonar.ico" />
        <Property Id="ARPPRODUCTICON" Value="Icon" />
        <Property Id="ARPCONTACT" Value="$(var.Authors)" />
        <Property Id="ARPHELPLINK" Value="$(var.RepositoryUrl)" />
        <Property Id="ARPURLINFOABOUT" Value="$(var.RepositoryUrl)" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLPATH" />
        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLPATH" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>

        <Property Id="INSTALLPATH_REG">
            <RegistrySearch Id="INSTALLPATH_REG_QUERY" Type="raw" Root="HKLM" Key="Software\[ProductName]" Name="InstallDir" />
        </Property>
        <SetDirectory Id="INSTALLPATH" Value="[INSTALLPATH_REG]" Condition="INSTALLPATH_REG" />

        <Property Id="CREATEDESKTOPSHORTCUT" Value="1">
            <!--<RegistrySearch Id="CREATEDESKTOPSHORTCUT_REG" Type="raw" Root="HKLM" Key="Software\[ProductName]" Name="CreateDesktopShortcut" />!-->
        </Property>
        <SetProperty Id="CREATEDESKTOPSHORTCUT" Value="0" Before="WriteRegistryValues" Sequence="execute" Condition="NOT (CREATEDESKTOPSHORTCUT=1)" />

        <UIRef Id="UI" />

        <!-- Start Features -->
        <Feature Id="NetSonar" Title="!(bind.Property.ProductName)" Description="Installs all the files needed for [ProductName]" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLPATH">
            <ComponentRef Id="RegInstallInfo" />
            <ComponentGroupRef Id="ProgramFiles"/>
            <ComponentRef Id="CMP_DesktopShortcuts" />
            <ComponentRef Id="CMP_StartMenuShortcuts" />
        </Feature>
        <!-- End Features -->

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch !(bind.Property.ProductName)" />
        <Property Id="WixShellExecTarget" Value="[INSTALLPATH]$(var.ProductName).exe" />
        <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X64" />


        <StandardDirectory Id="DesktopFolder">
            <Component Id="CMP_DesktopShortcuts" Guid="33F39BD6-8EFC-432F-B50B-4B43C09DBB36" Condition="CREATEDESKTOPSHORTCUT = 1">

                <Shortcut Id="desktopProgramSC" Name="!(bind.Property.ProductName)" Description="$(var.ProductDescription)" Target="[INSTALLPATH]$(var.ProductName).exe" WorkingDirectory="INSTALLPATH" />

                <RegistryKey Root="HKLM" Key="Software\[ProductName]" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                    <RegistryValue Name="Uninstall" Value="[ProductCode]" Type="string" />
                </RegistryKey>
            </Component>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuProductFolder" Name="!(bind.Property.ProductName)">
                <Component Id="CMP_StartMenuShortcuts" Guid="F1A47D1D-B380-40F9-804B-C6E80C49763E">
                    <Shortcut Id="startMenuProgramSC" Name="!(bind.Property.ProductName)" Description="$(var.ProductDescription)" Target="[INSTALLPATH]$(var.ProductName).exe" WorkingDirectory="INSTALLPATH" />
                    <Shortcut Id="startMenuUninstallSC" Name="Uninstall !(bind.Property.ProductName)" Description="Uninstalls !(bind.Property.ProductName) and all of its components" Target="[System64Folder]msiexec.exe" Arguments="/i [ProductCode]" />

                    <RemoveFolder Id="ProgramMenuProgramFolder" On="uninstall" />

                    <RegistryKey Root="HKLM" Key="Software\[ProductName]" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Name="Uninstall" Value="[ProductCode]" Type="string" />
                    </RegistryKey>
                </Component>
            </Directory>
        </StandardDirectory>

        <!-- Start Registry -->
        <Component Id="RegInstallInfo" Guid="DC625CD8-9419-49B8-9652-E71C5B5A3C40" Directory="INSTALLPATH">
            <!-- Install directory -->
            <RegistryKey Root="HKLM" Key="Software\[ProductName]" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                <RegistryValue Name="InstallDir" Value="[INSTALLPATH]" Type="string" />
                <RegistryValue Name="CreateDesktopShortcut" Value="[CREATEDESKTOPSHORTCUT]" Type="integer" />
            </RegistryKey>
        </Component>
        <!-- End Registry -->

        <ComponentGroup Id="ProgramFiles" Directory="INSTALLPATH">
            <Files Include="$(var.HarvestPath)\**"></Files>
        </ComponentGroup>
    </Package>
</Wix>
